# Apply this config only on the master.
[mysqld]
log-bin
server-id=1
default-time_zone = '+8:00'
max_connections=1000
max_connect_errors=2000
lower_case_table_names=1
ft_min_word_len=1
max_allowed_packet=64M
character_set_server=utf8mb4
table_open_cache=64